.create-container {
    color: #9197A1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.create-container h2 {
    text-align: center;
}
.select-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.type {
    font-weight: bolder;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30%;
    transition: filter .2s;
}
.excepted-type {
    filter: brightness(0.7);
}
.text-title, .text-description{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-endYMDH {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#title, #description {
    border: none;
    border-bottom: solid 1px #9197A1;
    width: 100%;
}
#description {
    height: 5vh;
    resize: none;
}
#submit {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}