* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  overflow-x: hidden;
}
body {
  background-color: #F2F4F6;
  height: 100dvh;
  width: 100dvw;
  
  /* color: #757D87; */
}
.icon {
  filter:invert(80%) sepia(10%) saturate(226%) hue-rotate(172deg) brightness(95%) contrast(79%);
}