#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
#today-meal-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #9197A1;
}
#today-meal-image {
    width: 40px;
}
#today-meal-description {
    color: #5B8DF0;
}
#today-meal-list {
    padding: 20px;
}
#deadline-tomorrow-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.deadline-tomorrow {
    font-size: 10px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    background-color: #F2F4F6;
}
.deadline-tomorrow-date {
    color: red;
}